<div style="margin-top: 200px; text-align: center">
  <form action="/portal/commands/" method="post">
      <label>Access Key: </label>
      <input id="access_key" type="text" name="access_key">
      <label>Secret Key: </label>
      <input id="secret_key" type="text" name="secret_key">
      <label> Port: </label>
      <input id="port" type="text" name="port">
      <label>IP address: </label>
      <input id="ip_address" type="text" name="ip_address">
      <input type="submit" value="Create">
  </form>
</div>